@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2c3639;
    --cor-secundaria: #dcd7c9;
    --cor-terciaria: #a27b5c;
    --cor-hover-botao: #3f4e4f;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    gap: 16px;
    /* width: 280px; */
    padding: 16px 16px;
    /* width: 378px; */
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover-botao);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 3.2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.apresentacao__conteudo__paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    /* width: 280px; */
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    padding: 16px 0px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
    width: 50%;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover-botao);
}

.apresentacao__imagem {
    width: 50%;
}

.nome:hover {
    color: var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 20px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}